<h1>Se oli sitten siinä</h1>
<p>Kukaan ei oikeastaan tiedä, miksi Maapallo yhtäkkiä räjähti.</p>
<h2>Todistajien lausunto</h2>
<ol>
<li>Minä</li>
<li>Hän</li>
<li>Tuo</li>
<li>Me</li>
</ol>
<p><strong>1.</strong></p>
<blockquote>
<p>Se ei ollut kuin olisi voinut olettaa. Ottaen huomioon sen tosiseikan, että planeetta kuitenkin räjähti. Uskaltaisin väittää ettei aluksemme edes liikkunut tapahtuman aikana, vaikka useista ikkunoidemme ohi leijuvista partikkeleista voisi päätellä, että rähäjdyksestä syntyi edes jonkin verran liike-energiaa. Tämän enempää en voi asiasta itse sanoa, koska olin vessassa varsinaisen tapahtuman aikana.</p>
</blockquote>
<p><strong>2.</strong></p>
<blockquote>
<p>Uskon olevani sokea. Viimeinen asia jonka näin oli kirkas valkoinen valo siinä kohdassa, jossa Maa oli ollut. Se näytti hieman silmältä.</p>
</blockquote>
<p><strong>3.</strong></p>
<blockquote>
<p>Tuo ei pysty tällä hetkellä kirjoittamaan, joten kirjoitan hänen analyysinsä hänen puolestaan.
&quot;AAAAAAAAAAAAAÄAÄAÄAÄÄAÄÄÄÄÄÄÄÄÄAÄAAAAAAAAA!&quot;</p>
</blockquote>
<p><strong>4.</strong></p>
<blockquote>
<p>Jos me jostain olemme yhtä mieltä, niin siitä, että tulemme kaikki todennäköisesti kuolemaan seuraavan kolmen viikon aikana.</p>
</blockquote>
<blockquote>
<blockquote>
<p><code>del.ht =&gt; (visit, G)={'/dead', (name, year, location(0,0,0))};</code><br>
<code>foreach (del.ht H in f+r){</code></p>
<blockquote>
<p><code>fill(location);</code><br>
<code>this.name = name;</code><br>
<code>this.year = gg://base/catalog/calendar/year/current;</code><br>
<code>send.this;</code><br>
<code>}</code></p>
</blockquote>
</blockquote>
</blockquote>
